.font-menu{

    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size:15px;
    color:white !important;
    margin-top:20px;
    text-align: right;
}

.intro{

    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 120px;
    color:tomato;
    font-style: normal;
    font-weight:500;
    text-align:left;
    padding-left: 120px;

}



.intro-header{
    font-family: 'Lato', sans-serif;
    font-size:40px;
    margin-top:30px;
    font-weight:bolder;
    text-align:left;
    padding-left: 120px;
    color:#4948BB;
}


.intro-body{

    font-family: 'Lato', sans-serif;
    text-align:left;
    padding-left: 120px;
    margin-top:40px;
    font-weight: lighter;
    font-style: normal;
    color: rgba(0, 0, 0, 0.473);

}


.btn-fancy{

background-color:transparent !important;
border: 1.5px solid #4948BB;
padding:20px 20px 20px 20px;
width:200px;
margin-left:120px;
margin-top:40px;
outline: none !important;

}


.ref-tag{

    font-family: 'Lato', sans-serif;
    color:#4948BB;   
    font-weight:700;
 }




.ref-tag:hover{

    font-family: 'Lato', sans-serif;
    color:#4948BB;   
    text-decoration: none;
}

.font-menu:hover{

text-decoration: none;
color: black !important;
}

.copy{

    font-family: 'Lato', sans-serif;
    font-size:11.5px;
    font-style: normal;
    font-weight:700;
    line-height:22px;

}


.rep{

    font-family: 'Lato', sans-serif;
    text-align:left;
    font-size:23px;
    font-weight: 100;
    margin-top: 50px;
    color:#4948BB; 
    margin-bottom:100px; 

}


.colo-bac{

background-color:whitesmoke;
min-height:80vh;


}


.exp{


    font-family: 'Lato', sans-serif;
    color: tomato;
    margin-top: 100px;
    text-align: left;
    font-weight:700;
    font-size:20px;

}


.tailor{
text-align: left !important;
    font-family: 'Lato', sans-serif;
    margin-top:18px;
    font-size:30px;
    color:#4948BB;
    

}



.intro-text-h1{

    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 30px;
    color:tomato;
    font-style: normal;
    font-weight:700;
    letter-spacing: 0px;
    text-align:left;
    font-size:18px;
}


.logo-black{


width: 45px;
margin-top: 150px;


}


.icon-size{

width: 55px;
margin-top:20px;

}


.icon-size-2{

    width: 55px;
    margin-top:130px;
    
    }




.logo{

width: 55px;
margin-top:30px;
margin-left:120px;

}




.logo-2{

    width: 45px;
    margin-bottom:20px;
    margin-top: 250px;
    
    }
    

    .image-width{

display: block;
margin-left: auto;
margin-right: auto;
margin-top:100px;



    }

.suv{

margin-top: 60px;
margin-bottom:40px;
color:tomato;
font-family: 'Lato', sans-serif;


}

.suv-x{

    font-family: 'Lato', sans-serif;
    color: rgba(0, 0, 0, 0.473);
    font-size:15px;

}

.mrg-top{

margin-top: 30px;

}

.magic{

width:750px;
float: left;
margin-top:70px;
margin-bottom:100px;

}

.exp-1{


    font-family: 'Lato', sans-serif;
    color:tomato;   
font-weight: 700;
margin-top: 150px;

}


.exp-2{

    font-family: 'Lato', sans-serif;
    color: #4948BB;
    font-size: 20px;
    font-weight: 500;
    margin-top:30px;

}


.exp-3{


    font-family: 'Lato', sans-serif;
    color: rgba(0, 0, 0, 0.473);
    margin-top: 30px;
    font-weight: 700;

}


.number{

    margin-left: 120px;
    margin-top:50px;
    height:60px;
    width:45%;
    border:tomato 1.2px solid;
    color: rgba(0, 0, 0, 0.473);
    font-family: 'Lato', sans-serif !important;
    padding: 5px 5px 5px 15px;
    outline: none;

    
}

.btn-request{

    height:60px;
    background-color:transparent;
    border: #4948BB 1.2px solid;
    background-color: #4948BB;
    margin-left:8px;
    padding: 12px 12px 12px 12px;
    color: white;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}


.btn-login{

    height:60px;
    background-color:transparent;
    border: #4948BB 1.2px solid;
    background-color: #4948BB;
    margin-left:8px;
    padding: 12px 12px 12px 12px;
    color: white;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}




::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: 'Lato', sans-serif !important;
  font-size:14px;
  padding: 5px 5px 5px 15px;
  color: rgba(0, 0, 0, 0.473);
  }


  .policy{

    font-family: 'Lato', sans-serif !important;
    font-size:12px;
    padding-left: 120px;
    text-align:left;
    margin-top:45px;
    color: rgba(0, 0, 0, 0.473);
    margin-bottom: 150px;


}


.policy-2{

    font-family: 'Lato', sans-serif !important;
    font-size:12px;
    text-align:left;
    margin-top:30px;
    color: rgba(0, 0, 0, 0.473);
    margin-bottom: 50px;


}


.sight{

    width:600px;
    margin-top:120px;
    margin-bottom: 100px;

}


.gurl{

margin-top:150px;


}


.footer-link{

margin-top: 60px !important;
margin-bottom:50px !important;
}

.footer-link-2{

margin-left:0px;
padding-left:50px;

}

.colo-foter{

    font-family: 'Lato', sans-serif !important;
    font-size:12px;
    Color : #666666; 

}


.colo-foter:hover{

    font-family: 'Lato', sans-serif !important;
    font-size:12px;
    Color: tomato; 

}


.line{

    border-top: 1px solid #E6E6E6;
    width: 100% !important;
    border-right: transparent;
    border-left: transparent;
    border-bottom: transparent;
    
    }


    .copy-2{

        font-family: 'Lato', sans-serif !important;
        font-size:11px;
    font-style: normal;
    text-align:left;
color:#666666;
    }

    .mrg-writer{

        margin-top:30px;
        
      }

      .mrg-writer-bottom{

margin-bottom:50px;

      }
    

      .ss{
          width:25px;
      }



      /** @ media query starts here **/
/** general **/


@media only screen and (min-width: 320px) and (max-width: 480px) {

    .card-callback{

        background-color: white;
        box-shadow: 1.5px 1.5px rgba(74, 72, 187, 0.096);
        border: transparent;
        width: 100% !important;
        min-height: 50vh;
        margin-top:50px;
        margin-bottom: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 70px 10px 70px 10px;
        
        }
        
        .com-1{
            font-family: 'Lato', sans-serif !important;
        width: 100% !important;
        border: 1px solid rgb(211, 209, 204);
        min-height:50px;
        margin-top: 50px !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 5px 5px 5px 15px;
        font-size:11px;
        outline: none;
        
        }
        
        
        .com-2{
            border: 1px solid rgb(211, 209, 204);
            font-family: 'Lato', sans-serif !important;
            width: 100% !important;
            min-height:50px;
            display: block;
            margin-left: auto;
            margin-right: auto; 
            font-size:11px;
            padding: 5px 5px 5px 15px;
            outline: none !important;
        }
        
        
        .button-req{
        
        background-color: #4948BB;
        border: transparent;
        width: 100% !important;
        min-height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:30px;
        color: white;
        font-family: 'Lato', sans-serif !important;
        
        }
        
        
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            
            font-family: 'Lato', sans-serif !important;
          font-size:13px;
          padding: 5px 5px 5px 15px;
         
          }
        
        
        
          .exp-12{
        
        
            font-family: 'Lato', sans-serif;
            color:tomato;   
        font-weight: 700;
        margin-top: 18px;
        text-align: center;
        font-size:18px;
        
        }
        
        
        .exp-23{
        
            font-family: 'Lato', sans-serif;
            color: #4948BB;
            font-size: 14.5px !important;
            font-weight: 500;
            margin-top:20px;
          text-align: center;
      
        
        
        }
        
        
        
        




    .schedule{

        font-family: 'Lato', sans-serif !important;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
        border: 2px solid tomato;
        height:60px;
        width:50% !important;
        font-size:13px;
        margin-bottom:30px;
    
    }



.mrg-tomato{

    margin-bottom:70px;
    }
    


    .food{
        font-family: 'Lato', sans-serif !important;
        text-align: center;
        color: white;
        font-size: 25px !important;
        font-weight: bolder;
        margin-top:50px !important;
    }


    .intro{

        font-family: 'Lato', sans-serif;
        text-align:left;
        margin-top: 120px;
        color:tomato;
        font-style: normal;
        font-weight:500;
        padding-left:30px;
    
    }




.intro-header{
    font-family: 'Lato', sans-serif;
    font-size:25px;
    margin-top:30px;
    font-weight:bolder;
    text-align:left;
    padding-left: 30px;
    color:#4948BB;
}



.intro-body{

    font-family: 'Lato', sans-serif;
    text-align:left;
    padding-left:30px;
    margin-top:40px;
    font-weight: lighter;
    font-style: normal;
    color: rgba(0, 0, 0, 0.473);

}



.number{

    margin-left:30px;
    margin-top:50px;
    height:60px;
    width:45%;
    border:tomato 1.2px solid;
    color: rgba(0, 0, 0, 0.473);
    font-family: 'Lato', sans-serif !important;
    padding: 5px 5px 5px 15px;
    outline: none;

    
}

.btn-request{

    height:55px;
    background-color:transparent;
    border: #4948BB 1.2px solid;
    background-color: #4948BB;
    margin-left:3px;
    padding: 12px 12px 12px 12px;
    color: white;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}



.policy{

    font-family: 'Lato', sans-serif !important;
    font-size:12px;
    padding-left:30px;
    text-align:left;
    margin-top:45px;
    color: rgba(0, 0, 0, 0.473);
    margin-bottom: 10px;


}



.image-width{

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width:200px;
    
    
    
        }



.colo-bac{

    background-color:white;
    min-height:80vh;
    padding-left: 30px;
    
    }
    

    .tailor{
        text-align: left !important;
            font-family: 'Lato', sans-serif;
            padding-left:4px;
            margin-top:18px;
            font-size:15px;
            color:#4948BB;
            
        
        }


        .exp-1{

            font-family: 'Lato', sans-serif;
            color:tomato;   
        font-weight: 700;
        margin-top: 0px;
        padding-left:30px;
        
        }


        .exp-2{

            padding-left:30px;   

        }


        .exp-3{

   font-family: 'Lato', sans-serif;
            color: rgba(0, 0, 0, 0.473);
            margin-top: 30px;
            font-weight: 700;
            padding-left:30px;
            font-size:15px;

        }


        .magic{

            width:750px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top:50px;
            margin-bottom:30px;
            
            }

            .exp-4{

    font-family: 'Lato', sans-serif;
    color: rgba(0, 0, 0, 0.473);
    margin-top: 30px;
    font-weight: 700;
            }
       

            .gurl{

             display: none;
                
                
                }



                .footer-link-2{

                    margin-left:0px;
                    padding-left:30px;
                    text-align: center;
                    
                    }



.colo-foter-padd{
margin-left: 18px;

}



.logo{

    width: 45px;
    margin-top:25px;
    margin-left:30px;
    
    }



    .font-menu{

        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size:15px;
        color:white !important;
        margin-top:10px;
        text-align: right;
    }


    .logo-2{
display: none;
        
        }

        .mrg-menu-credit{
            margin-top: 150px;
        }


}



@media screen 
and (max-width:720px)
and (max-height:1440px)
 and (max-resolution: 268dpi)
 and (-webkit-max-device-pixel-ratio:2)
 {


    .card-callback{

        background-color: white;
        box-shadow: 1.5px 1.5px rgba(74, 72, 187, 0.096);
        border: transparent;
        width: 100% !important;
        min-height: 50vh;
        margin-top:50px;
        margin-bottom: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 70px 10px 70px 10px;
        
        }
        
        .com-1{
            font-family: 'Lato', sans-serif !important;
        width: 100% !important;
        border: 1px solid rgb(211, 209, 204);
        min-height:50px;
        margin-top: 50px !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 5px 5px 5px 15px;
        font-size:11px;
        outline: none;
        
        }
        
        
        .com-2{
            border: 1px solid rgb(211, 209, 204);
            font-family: 'Lato', sans-serif !important;
            width: 100% !important;
            min-height:50px;
            display: block;
            margin-left: auto;
            margin-right: auto; 
            font-size:11px;
            padding: 5px 5px 5px 15px;
            outline: none !important;
        }
        
        
        .button-req{
        
        background-color: #4948BB;
        border: transparent;
        width: 100% !important;
        min-height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:30px;
        color: white;
        font-family: 'Lato', sans-serif !important;
        
        }
        
        
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            
            font-family: 'Lato', sans-serif !important;
          font-size:13px;
          padding: 5px 5px 5px 15px;
         
          }
        
        
        
          .exp-12{
        
        
            font-family: 'Lato', sans-serif;
            color:tomato;   
        font-weight: 700;
        margin-top: 18px;
        text-align: center;
        font-size:18px;
        
        }
        
        
        .exp-23{
        
            font-family: 'Lato', sans-serif;
            color: #4948BB;
            font-size: 14.5px !important;
            font-weight: 500;
            margin-top:20px;
          text-align: center;
      
        
        
        }

    .schedule{

        font-family: 'Lato', sans-serif !important;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
        border: 2px solid tomato;
        height:60px;
        width:50% !important;
        font-size:13px;
        margin-bottom:30px;
    
    }



.mrg-tomato{

    margin-bottom:70px;
    }
    


    .food{
        font-family: 'Lato', sans-serif !important;
        text-align: center;
        color: white;
        font-size: 25px !important;
        font-weight: bolder;
        margin-top:50px !important;
    }



  .intro{

      font-family: 'Lato', sans-serif;
      text-align:left;
      margin-top: 120px;
      color:tomato;
      font-style: normal;
      font-weight:500;
      padding-left:30px;
  
  }




.intro-header{
  font-family: 'Lato', sans-serif;
  font-size:25px;
  margin-top:30px;
  font-weight:bolder;
  text-align:left;
  padding-left: 30px;
  color:#4948BB;
}



.intro-body{

  font-family: 'Lato', sans-serif;
  text-align:left;
  padding-left:30px;
  margin-top:40px;
  font-weight: lighter;
  font-style: normal;
  color: rgba(0, 0, 0, 0.473);

}



.number{

  margin-left:30px;
  margin-top:50px;
  height:60px;
  width:45%;
  border:tomato 1.2px solid;
  color: rgba(0, 0, 0, 0.473);
  font-family: 'Lato', sans-serif !important;
  padding: 5px 5px 5px 15px;
  outline: none;

  
}

.btn-request{

  height:55px;
  background-color:transparent;
  border: #4948BB 1.2px solid;
  background-color: #4948BB;
  margin-left:3px;
  padding: 12px 12px 12px 12px;
  color: white;
  font-size: 13px;
  font-family: 'Lato', sans-serif;
}



.policy{

  font-family: 'Lato', sans-serif !important;
  font-size:12px;
  padding-left:30px;
  text-align:left;
  margin-top:45px;
  color: rgba(0, 0, 0, 0.473);
  margin-bottom: 10px;


}



.image-width{

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width:200px;
  
  
  
      }



.colo-bac{

  background-color:white;
  min-height:80vh;
  padding-left: 30px;
  
  }
  

  .tailor{
      text-align: left !important;
          font-family: 'Lato', sans-serif;
          padding-left:4px;
          margin-top:18px;
          font-size:15px;
          color:#4948BB;
          
      
      }


      .exp-1{

          font-family: 'Lato', sans-serif;
          color:tomato;   
      font-weight: 700;
      margin-top: 0px;
      padding-left:30px;
      
      }


      .exp-2{

          padding-left:30px;   

      }


      .exp-3{

 font-family: 'Lato', sans-serif;
          color: rgba(0, 0, 0, 0.473);
          margin-top: 30px;
          font-weight: 700;
          padding-left:30px;
          font-size:15px;

      }


      .magic{

          width:750px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top:50px;
          margin-bottom:30px;
          
          }

          .exp-4{

  font-family: 'Lato', sans-serif;
  color: rgba(0, 0, 0, 0.473);
  margin-top: 30px;
  font-weight: 700;
          }
     

          .gurl{

           display: none;
              
              
              }



              .footer-link-2{

                  margin-left:0px;
                  padding-left:30px;
                  text-align: center;
                  
                  }



.colo-foter-padd{
margin-left: 18px;

}



.logo{

  width: 45px;
  margin-top:25px;
  margin-left:30px;
  
  }



  .font-menu{

      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size:15px;
      color:white !important;
      margin-top:10px;
      text-align: right;
  }


  .logo-2{
display: none;
      
      }

      .mrg-menu-credit{
          margin-top: 150px;
      }


 }




html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }
  


  .privacy{

    font-family: 'Lato', sans-serif !important;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    color: tomato;

  }


  .terms{

    font-family: 'Lato', sans-serif !important;
    text-align: center;
    color: #666666;
    margin-bottom:100px;

  }

  .persona-1{

    font-family: 'Lato', sans-serif !important;
text-align:left;
padding-left:30px;
margin-top:100px;
padding-right:30px;
text-align: center;
color: #666666;
  }


  .header-privacy{

    font-family: 'Lato', sans-serif !important;
    text-align:center;
    margin-top: 50px;
    font-size:20px;
    color: #4948BB;

  }


  .body-text{

    font-family: 'Lato', sans-serif !important;
    text-align:center;
    font-family:13px;
    font-style: normal;
    margin-top:30px;

  }
  

  .space{

margin-bottom:150px;

  }


  .card{


border-radius: 8px;
border: #F9FBFC solid 1px;
background-color:#F9FBFC;
width: 100%;
min-height:35vh;
margin-bottom:30px;
box-shadow: 1.5px 1.5px rgba(74, 72, 187, 0.096);


  }


  .span-1 , .span-2 ,.span-3{

    font-family: 'Lato', sans-serif !important;
    font-weight: bolder;
    color:#4948BB;
    float: left;
    padding:20px 20px 20px 20px;


  }


  .disc{

    font-family: 'Lato', sans-serif !important;
    padding: 20px 20px 20px 20px;
    font-weight:500;


  }


  .careers-heading{

    
    font-family: 'Lato', sans-serif !important;
    padding: 20px 20px 20px 20px;
    color: #4948BB;
    font-size: 23px;

  }


  .open{

width:50%;
height:60px;
display: block;
margin-left: auto;
margin-right: auto;
font-family: 'Lato', sans-serif !important;
padding: 15px 15px 15px 15px;
color: white;
background-color: #4948BB;
border: transparent;
margin-top: 100px;


  }


  .open:hover{

    width:50%;
    height:60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lato', sans-serif !important;
    padding: 15px 15px 15px 15px;
    color:#4948BB;
    background-color:transparent;
    border:1px solid #4948BB;
    margin-top: 100px;
    outline: none;
    
    
      }


  .status{

text-align: center;
margin-top: 30px;
font-family: 'Lato', sans-serif !important;
color: rgb(105, 102, 102);
font-size:13px;

}


.bac-tomato{

background-color:#4948BB;
width: 100%;
min-height:50vh;
}


.mrg-tomato{

margin-top:50px;
}


.food{
    font-family: 'Lato', sans-serif !important;
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: bolder;
    margin-top:130px;
}

.food-2{

    font-family: 'Lato', sans-serif !important;
    text-align: center;
    color: white;
    margin-top:40px;

}


.schedule{

    font-family: 'Lato', sans-serif !important;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: 2px solid tomato;
    height:60px;
    width:20%;
    font-size:13px;

}


.hh-bac{

background-color: #F8F6F2 !important;
width: 100%;
min-height: 100vh;
margin-top: 50px;


}

.card-callback{

background-color: white;
box-shadow: 1.5px 1.5px rgba(74, 72, 187, 0.096);
border: transparent;
width: 50%;
min-height: 50vh;
margin-top:50px;
margin-bottom: 50px;
display: block;
margin-left: auto;
margin-right: auto;
padding: 70px 10px 70px 10px;

}

.com-1{
    font-family: 'Lato', sans-serif !important;
width: 70%;
min-height:50px;
margin-top: 50px !important;
display: block;
margin-left: auto;
margin-right: auto;
padding: 5px 5px 5px 15px;
font-size:11px;
outline: none;

}


.com-2{
    font-family: 'Lato', sans-serif !important;
    width: 70%;
    min-height:50px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    font-size:11px;
    padding: 5px 5px 5px 15px;
    outline: none !important;
}


.button-req{

background-color: #4948BB;
border: transparent;
width: 70%;
min-height: 50px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top:30px;
color: white;
font-family: 'Lato', sans-serif !important;

}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    
    font-family: 'Lato', sans-serif !important;
  font-size:13px;
  padding: 5px 5px 5px 15px;
 
  }



  .exp-12{


    font-family: 'Lato', sans-serif;
    color:tomato;   
font-weight: 700;
margin-top: 90px;
text-align: center;

}


.exp-23{

    font-family: 'Lato', sans-serif;
    color: #4948BB;
    font-size: 20px;
    font-weight: 500;
    margin-top:30px;
  text-align: center;


}



